.signatureCanvas {
    border: 1px solid black;
    width: 600px;
    height: 150px;
}

@media only screen and (max-width: 700px) {
    .signatureCanvas {
        border: 1px solid black;
        width: 480px;
        height: 120px;
    }
}

@media only screen and (max-width: 400px) {
    .signatureCanvas {
        border: 1px solid black;
        width: 288px;
        height: 72px;
    }
}
